[Desktop Entry]
Name=Kadu
Comment=Gadu-Gadu client
Comment[pl]=Klient Gadu-Gadu
Exec=kadu -caption "%c" %i %m  
Icon=kadu.png
MiniIcon=kadu.png
Terminal=false
Type=Application
DocPath=kadu/index.html
Categories=Qt;Network;InstantMessaging;
Encoding=UTF-8
# vi: encoding=utf-8
