[Desktop Entry]
Name=Kadu
Comment=Gadu-Gadu client
Comment[pl]=Klient Gadu-Gadu
GenericName=Gadu-Gadu client
GenericName[pl]=Klient Gadu-Gadu
Exec=kadu -caption "%c" %i %m  
Icon=kadu
Terminal=false
Type=Application
DocPath=kadu/index.html
ServiceTypes=DCOP/InstantMessenger
X-DCOP-ServiceName=kadu
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Qt;Network;InstantMessaging;
# vi: encoding=utf-8
